<!doctype html>
<html lang="en" ng-app="dmathAPP">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="angular.min.js"></script>
    <title>Discrete Math</title>
  </head>
  <body>
    <div class="container" ng-controller="propositionLogic as pl">
      <h1>Truth Function Calculator</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">Formula</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Please input your formula here" ng-model=pl.formulaStr>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="pl.submit()">Submit</button>
        <div class="error" ng-if="pl.errorMsg">{{pl.errorMsg}}</div>
      </form>
      <table class="table" ng-if="pl.TF">
        <thead>
          <th scope="col">#</th>
          <th scope="col" ng-repeat="colName in pl.heads">{{colName}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="dct in pl.row">
            <th scope="row">{{$index}}</th>
            <th scope="row" ng-repeat="colName in pl.heads">{{dct[colName]}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </body>
</html>